@using Web_Test_II.Controllers;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web_Test_II</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Web_Test_II.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Тесты по Искуственному интеллекту</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                         
                        @if (AccountController.User?.Role.Id == 3)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="CreateTest" asp-action="CreateTest">Создать тест</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="EditTest" asp-action="ViewTests">Просмотр тестов</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Result" asp-action="ViewAllResults">Просмотр результатов тестов</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="EditProfile" asp-action="EditProfileMenter">
                                @AccountController.Mentor.Surname @AccountController.Mentor.Name @AccountController.Mentor.Patronymic (@AccountController.Mentor.Position.Name)</a>
                            </li>
                        }
                        
                        @if (AccountController.User?.Role.Id == 2)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Testing" asp-action="ViewAvailableTests">Пройти тесты</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Result" asp-action="ViewResultsStudent">Результаты</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="EditProfile" asp-action="EditProfileStudent">
                                @AccountController.Student.Surname @AccountController.Student.Name @AccountController.Student.Patronymic (@AccountController.Student.Group.Name)</a>
                            </li>
                        }                 
                        @if (AccountController.User?.Role.Id == 1)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="RegisterMentor">Регистрация преподавателя</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="RegisterStudent">Регистрация студента</a>
                            </li>
                             <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="DataOperations" asp-action="ViewPositions">Должности</a>
                            </li>
                             <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="DataOperations" asp-action="ViewGroups">Группы</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="DataOperations" asp-action="ViewMentors">Преподаватели</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="DataOperations" asp-action="ViewStudents">Студенты</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark">Администратор</a>
                            </li>
                        }
                        @if (AccountController.User?.Role.Id == null) 
                        { 
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Войти</a>
                        </li>
                        }
                        @if(AccountController.User?.Role.Id != null)
                        {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Выйти</a>
                        </li>
                        }
                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Web_Test_II - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
