@using Web_Test_II_DAL.Entityes;
@using Web_Test_II.Models.ViewModels.EditTestViewModels;
@model QuestionsViewModel
@{
    ViewBag.Title = "Добавление вопросов к тесту";
    int idTest = ViewBag.Id;
    int num = 0;
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Web_Test_II

@{
    ViewBag.Title = "Редактирование ответов на вопросы";
}

<div class="text-center">

        <h2 class="display-4">Редактирование вопросов теста</h2>  
         <a asp-action="AddQuestions" asp-controller="EditTest" asp-route-id="@idTest">Добавить вопросы</a>
        <table class="table">
            <tr>
                <th>
                    <a>Номер</a>
                </th>
                <th>
                    <a>Вопрос</a>
                </th>
                <th>
                    <a>Редактирование вопроса</a>
                </th>
                 <th>
                    <a>Удалить вопрос</a>
                </th>
                <th>
                    <a>Количество ответов</a>
                </th>
                <th>
                    <a>Добавить ответы</a>
                </th>
            </tr>
            @for(int i = 0; i<Model.Questions.Count();i++)
            {
            num++;
            <tr>
                    <td>
                     @num   
                    </td>
                   <form asp-controller="EditTest" asp-action="EditQuestion" method="post"  asp-route-id="@Model.Questions[i].Id">
                    <td>
                       
                         <input type="text" class="form-control" name="parameterName" id="@Model.Questions[i].Id" value="@Model.Questions[i].Name" />
                            
                        </td>
                    <td>
                         
                            <input type="submit" value="Редактировать" class="form-control" />
                            
                    </td>
                    </form>
                    <td>
                            <form asp-controller="EditTest" asp-action="DeleteQuestion" method="post"  asp-route-id="@Model.Questions[i].Id">
                            <input type="submit" value="Удалить" class="form-control" />
                            </form>
                    </td>
                    <td>
                        <p>@Model.CountAnswers[i] (@Model.CountTrueAnswers[i])</p>
                    </td>
                    <td><a asp-action="ViewAnswers" asp-controller="EditTest" asp-route-id="@Model.Questions[i].Id">Редактировать ответы</a></td>
                </tr>           
        }
        </table>
        

    
</div>
